body{
    margin: 0;
    padding: 0;
}

.container{
    width: 1280px;
    margin: auto;
}

.nav{
    margin-top: 20px;
}

.nav .logo{
    float:left;
    margin-right: 400px;
}

.nav-list{
    padding-top: 30px;
}

.nav .nav-list a{
    color:black;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 30px;
}

.container-fluid{
    width: 100%;
}

.banner{
    width: 100%;
}

.clear{
    clear: both;
}

.footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 40px;
    margin-top: 300px;
}

.error{
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    margin-bottom: 20px;
}